body{
    margin:0;
}

.form-control{
    border-radius:12px;
    height:50px;
}

.form-control:focus{
    box-shadow:none;
    border-color:#6f42c1;
}

.btn{
    border-radius:12px;
}

.card{
    border-radius:20px;
  
}