.complaint-page {
  background-color: #f1f6fb;
  min-height: 100vh;
  padding-top: 60px;
}

.complaint-card {
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(30, 70, 180, 0.4);
}

.complaint-title {
  color: #071a3d;
  margin-bottom: 50px;
}

.form-label {
  color: #071a3d;
}

.form-control,
.form-select {
  border-radius: 7px;
  padding: 10px 14px;
}

.submit-btn {
  font-size: 18px;
  padding: 10px 18px;
}